@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  font-family: "Poppins";
  background-color: rgb(27, 27, 31);
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.container {
  display: grid;
  place-items: center;
  z-index: 1;
  color: white;
  margin: 0 auto;
  margin-top: 35em;
  text-align: center;
  mix-blend-mode: difference;
}

h1 {
  font-family: "Anta", sans-serif;
  font-size: 7rem;
  font-weight: 900;
  margin-bottom: 7rem;
  width: 55%;
  letter-spacing: 10px;
}

p {
  font-size: 2rem;
  font-weight: 600;
  width: 65%;
  color: rgb(144, 144, 146);
  letter-spacing: 7.5px;
}
